# dependencies
/node_modules
/.pnp
.pnp.js

# build output
out/
dist/
build/

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# prisma
/prisma/dev.db
/prisma/migrations/

# vscode / editor
.vscode/
.idea/
*.swp

# typescript
*.tsbuildinfo

# render
.render/
